<a href="https://colab.research.google.com/github/RemiJolian/Python/blob/main/python_review2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# input list of nums:

In [ ]:
array = [int(x) for x in input().split()]
print(array)

1 2 3
[1, 2, 3]

# OR:

In [ ]:
array = list(map(int, input().split()))
print (array)

1 2 3
[1, 2, 3]

OR2:

In [ ]:
a = []
tmp = input().split()
for i in range(0, len(tmp)):
    x = int(tmp[i])
    a.append(x)

Print 2 list

In [ ]:
array1 = [int(i) for i in input().split()]
array2 = [int(j) for j in input().split()]
print(*array2,*array1)

1 2 3
4 5 6
4 5 6 1 2 3

OR:

In [ ]:
array1 = [int(x) for x in input().split()]
array2 = list(map(int, input().split()))
for x in array2:
    print(x, end=' ')
for x in array1:
    print(x, end=' ')

1 2 3
4 5 6
4 5 6 1 2 3

# list with specific member:

In [ ]:
lst = [0] * 100

a list from 1 to 100 nums:

In [ ]:
array = list()
for i in range(1,101):
    array.append(i)
print(array)

OR1:

In [ ]:
l = [0] * 100
for i in range(100):
    l[i] = i + 1
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

OR2:

In [ ]:
l = [i + 1 for i in range(100)]
print(l)

Compare 2 lists:

In [ ]:
n = int(input())
s1 = list(input())
s2 = list(input())
e = 0
for i in range(n):
    if s2[i] != s1[i]:
        e += 1
print(e)

Dr.Yosefi and his queiz,wrong code,why:

In [ ]:
n , q = map(int,input().split())
array = list(input().split())
arr2 = list()
for i in range(q):
    sum = 0
    t, l, r = map(int,input().split()) #t = 1 or 2
    if t == 1:
        for j in range (l-1,r):
            sum += int(array[j])
        arr2.append(sum)
    elif t == 2:
        array[l-1] = array[r-1]
        for j in range (l-1,r-1):
            array[j+1] = array[j]

for i in range(len(arr2)):
  print(arr2[i])

# Dr.Yosefi,correct code:

In [ ]:
n, q = map(int, input().split())
a = list(map(int, input().split()))
for i in range(q):
    t, l, r = map(int, input().split())
    l -= 1
    r -= 1
    if t == 1:
        print(sum(a[l:r + 1]))
    else:
        t = a[r]
        for j in range(r - 1, l - 1, -1):
            a[j + 1] = a[j]
        a[l] = t

# print reverse of some num until enter 0:

In [ ]:
n = int(input())
a = list()
while n != 0 :
    a.append(n)
    n = int(input())

for i in range(len(a)-1,-1,-1):
    print (a[i])

# OR:

In [ ]:
nums = []
while True:
    num = input()
    if num != "0":
        nums.append(num)
    else:
        break
k = len(nums)-1
while k >= 0:
    print(nums[k])
    k-=1

# OR:

In [ ]:
a = []

while True:
    x = int(input())
    if (x == 0):
        break
    a.append(x)

for i in range (1, len(a) + 1):
    print(a[len(a) - i])

# Array shif,x times:

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(x):
    k = a[len(a)-1]
    for j in range(0, len(a)-1):
      a[(len(a)-1)-j] = a[(len(a)-1)-j-1]
    a[0] = k
    
print(a)

4 1
1 2 3 4
[2, 3, 1, 1]

# OR:

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))

for i in range(n - x, n):
    print(a[i], end=' ')

for i in range(0, n - x):
    print(a[i], end=' ')

4 1
1 2 3 4
4 1 2 3

# OR:

In [ ]:
n, x = map(int, input().split())
arr = list(map(int, input().split()))
r = [0] * n
for i in range(n):
    r[(i+x) % n] = arr[i]
print(*r)

OR:

In [ ]:
n, x = map(int, input().split())
arr = list(map(int, input().split()))

for i in range(x):
    arr = [arr[-1]] + arr[:-1]

print(*arr)

# OR:

In [ ]:
lenghtOfList, shiftNum = map(int, input().split())
list = []
list = input().split()
for i in range(shiftNum):
    list.insert(0, list.pop())
for i in list:
    print(i, end=" ")

# sum of 2 array:

In [ ]:
n, m = map(int, input().split())

a = []
for i in range(n):
	a.append(list(map(int, input().split())))
	
b = []
for i in range(n):
	b.append(list(map(int, input().split())))

c = [[a[i][j] + b[i][j] for j in range(m)] for i in range(n)]

for i in range(n):
    for j in range(m):
        print(c[i][j], end=' ')
    print()

2 3
1 2 3
4 5 6
7 7 7
8 8 8
8 9 10
12 13 14

# OR:

In [ ]:
n, m = map(int, input().split())

a = []
for i in range(n):
    row = list(map(int, input().split()))
    a.append(row)

b = []
for i in range(n):
    row = list(map(int, input().split()))
    b.append(row)

c = []
for i in range(n):
    row = []
    for j in range(m):
        row.append(a[i][j] + b[i][j])
    c.append(row)

for row in c:
    print(' '.join(map(str, row)))

# OR:

In [ ]:
a, b = map(int, input().split())
c = []
d = []
result = [[0] * b for i in range(a)]
for i in range(a):
    row = list(map(int, input().split()))
    c.append(row)
for i in range(a):
    row = list(map(int, input().split()))
    d.append(row)

for i in range(len(c)):
    for j in range(len(c[0])):
        result[i][j] = c[i][j] + d[i][j]

for i in result:
    for j in i:
        print(j, end = ' ')
    print()

# OR:

In [ ]:
n, m = map(int, input().split())
arr1 = [[int(j) for j in input().split()] for i in range(n)]
arr2 = [[int(j) for j in input().split()] for i in range(n)]
r = [[0] * m for i in range(n)]
for i in range(n):
    for j in range(m):
        r[i][j] = arr1[i][j] + arr2[i][j]
for i in range(n):
    for j in range(m):
        print(r[i][j], end=' ')
    print()

2 3
1 1 1
2 2 2
3 3 3
4 4 4
4 4 4
6 6 6

sum of 2 array from chatGTP:

In [ ]:
a = [2,3]
b = [3,4]
c = [sum(i) for i in zip(a,b)]
print(c)

In [ ]:
s = input()
print (s)

# Taghirat araye ey:

1 solution, ??

In [ ]:
q = int(input())
arr = list()
for i in range(q):
    a = input().split()
    if a[0] == '+':
        arr.insert(int(a[1]) - 1, int(a[2]))
    else:
        arr.pop(int(a[1]) - 1 )
    if arr == list():
        print('EMPTY')
    else:
        print(*arr)

3
+ 0 1
1
+ 1 5
5 1
- 0
5

# OR:

In [ ]:
q = int(input())
arr = []
r = []
for i in range(q):
    arr.append(input().split())
for a in arr:
    if a[0] == "+":
        r.insert(int(a[1])-1,int(a[2]))
        print(*r)
    else:
        r.pop(int(a[1])-1)
        if r == []:
            print("EMPTY")
        else:
            print(*r)

# OR:

In [ ]:
n = int(input())
a = []
for i in range(n):
    inp = input().split()
    ch = inp[0]
    index = int(inp[1])

    if ch == '+':
        value = int(inp[2])
        a.insert(index - 1, value)
    else:
        a.pop(index - 1)
    
    if len(a) == 0:
        print("EMPTY")
    else:
        for x in a:
            print(x, end=' ')
        print()

# OR:

In [ ]:
q = int(input())
a = list()
b = list()

for i in range (q):
    a.append(list(map(str, input().split())))

for i in range (q):
    if (a[i][0] == '+'):
        b.insert(int(a[i][1]) - 1, int(a[i][2]))
    elif (a[i][0] == '-'):
        b.pop(int(a[i][1]) - 1)

    if (len(b) == 0):
        print("EMPTY")
    else:
        print(*b)

In [ ]:
q = int(input())
a = []
for i in range (q):
    a.append(list(map(str, input().split())))
print(a)

2
d 1 2
+ 0 1
[['d', '1', '2'], ['+', '0', '1']]

OR ?:

In [ ]:
a = []
q = int(input())
for i in range(q):
    s, i = map(str,input().split())
    if s == '+' :
        x = int(input())
        a.insert(int(i),int(x))
    elif s == '-':
      a.pop(int(i))
    print(a)

# OR:

In [ ]:
#functions
#print function
def my_print(a):
    if( len(a ) == 0):
        print("EMPTY")
    for i in range(len(a)):
        if(i == len(a)-1):
            print(a[i ] )
        else:
            print(a[i], end=" ")


#------------------
n = int( input( ) )
a = list()
for i in range( n ):
    t = input( )
    temp = t.split( )
    if(temp[0] == "-"):
        a.pop( int(temp[1])-1 )
        my_print(a)
    elif(temp[0] == "+"):
        a.insert(int(temp[1])-1,int(temp[2]))
        my_print(a)
    else:
        print("wrong input !")

In [ ]:
q = int(input())

for i in range(q):
    a = input().split()
print(a)

# Snapp at Shekarestan:

In [ ]:
n, m = map(int,input().split())
array1 = []
s = 0
for i in range(n):
  array1.append(list(map(int,input().split())))
for i in range(m):
  #array2.append(list(map(int,input().split())))
  x, y = map(int,input().split())
  s += array1[x-1][y-1]
print(s)

# OR:

In [ ]:
n, m = map(int, input().split())
a = [[int(x) for x in input().split()] for i in range(n)]

ans = 0
for i in range(m):
    x, y = map(int, input().split())
    ans += a[x - 1][y - 1]

print(ans)

# OR:

In [ ]:
N, M = map(int,input().split())
array = [[int(j) for j in input().split()] for i in range(N)]
c = list()
for i in range(M):
    x, y = map(int, input().split())
    c.append(array[x-1][y-1])
Sum = 0
for i in range(M):
    Sum += c[i]
print(Sum)

# OR:

In [ ]:
N , M = map(int, input().split())
answer = 0
a = []
for i in range(N):
    a.append(list(map(int, input().split())))

for j in range(M):
    x,y = map(int, input().split())
    price = a[x-1][y-1]
    answer += price
print(answer)

# Endoist:

In [ ]:
maxn = 200
counter = [0 for x in range(maxn)]
q = int(input())

for i in range(q):
    tp, x = input().split()
    x = int(x) - 1

    if tp == '+':
        counter[x] += 1
    else:
        print(counter[x])

# OR

In [ ]:

q = int(input())
a = [0] * 200
b = list()
c = 0
for i in range(q):
   b = list(map(str,input().split()))
   b[1] = int(b[1])
   c = b[1]
   if (b[0] == '+'):
       a[c - 1] += 1
   elif (b[0] == '?'):
        print(a[c - 1])

# OR:

In [ ]:
q = int(input())

kise = [0 for x in range(210)]
for i in range(q):
    n = input().split()
    what_to_do, color = n[0], int(n[1])
    if what_to_do == "+":
        kise[color] += 1
    elif what_to_do == "?":
        print(kise[color])

# search in string:

...not complete

In [ ]:
s = input()
q = input()
index = 0
for i in range(len(s)):
  if q in s:
    index += s.index(q[0])
    print(index+1)
    k = s.index(q[len(q)-1]) + 1
    print(k)
    s = s[k::]
    print(s)

# final code:

In [5]:
a = input()
b = input()
for i in range(len(a)):
    if b[0] == a[i] and b == a[i:i + len(b)]:
        print(i + 1, end=' ')

asdfdfghjkjkldf
df
3 5 14

OR:

In [ ]:
s = input()
q = input()
print(s)
print(q)
for i in range(len(s)):
    flage = True
    for j in range(len(q)):
        if i + j < len(s):
            if s[i+j] != q[j]:
                flage = False
        else:
            flage = False
    if flage == True:
        print(i+1)

# OR:

In [ ]:
str = input()
sub_str = input()
for i in range(len(str)):
    flag = True
    for j in range(len(sub_str)):
        if not(i+j < len(str)) or str[i + j] != sub_str[j]:
            flag = False
            break
    if flag:
        print(i + 1, end = " ")

OR:

In [2]:
s = input()
p = input()
for i in range(len(s) - len(p) + 1):
    flag = True
    for j in range(len(p)):
        if p[j] != s[i + j]:
            flag = False
    if flag:
        print(i + 1, end=' ')
print()

asdfghjkdf
df
3 9

OR:

In [ ]:
main = input()
key = input()
collector = []

for i in range(len(main)):
    flag = True
    for j in range(len(key)):
        if i + j < len(main):
            if main[i + j] != key[j]:
                flag = False
        else:
            flag = False
    if flag:
        collector.append(i + 1)

print(*collector)

# Livan Bazi

In [9]:
n , x = input().split() # x = L, M, R
ans = x
n = int(n)
for i in range(n):
    r1, r2 = input().split()
    if r1 ==  ans:
        ans = r2
    elif r2 == ans:
        ans = r1
    
print(ans)

3 M
L M
M R
R M
R