<a href="https://colab.research.google.com/github/RemiJolian/Python/blob/main/python_review2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# input list of nums:

In [ ]:
array = [int(x) for x in input().split()]
print(array)

2 5 6
[2, 5, 6]

# OR:

In [ ]:
array = list(map(int, input().split()))
print (array)

1 2 3
[1, 2, 3]

OR2:

In [ ]:
a = []
tmp = input().split()
for i in range(0, len(tmp)):
    x = int(tmp[i])
    a.append(x)

Print 2 list

In [ ]:
array1 = [int(i) for i in input().split()]
array2 = [int(j) for j in input().split()]
print(*array2,*array1)

1 2 3
4 5 6
4 5 6 1 2 3

OR:

In [ ]:
array1 = [int(x) for x in input().split()]
array2 = list(map(int, input().split()))
for x in array2:
    print(x, end=' ')
for x in array1:
    print(x, end=' ')

1 2 3
4 5 6
4 5 6 1 2 3

# list with specific member:

In [ ]:
lst = [0] * 100

a list from 1 to 100 nums:

In [ ]:
array = list()
for i in range(1,101):
    array.append(i)
print(array)

OR1:

In [ ]:
l = [0] * 100
for i in range(100):
    l[i] = i + 1
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

OR2:

In [ ]:
l = [i + 1 for i in range(100)]
print(l)

Compare 2 lists:

In [ ]:
n = int(input())
s1 = list(input())
s2 = list(input())
e = 0
for i in range(n):
    if s2[i] != s1[i]:
        e += 1
print(e)

Dr.Yosefi and his queiz,wrong code,why:

In [ ]:
n , q = map(int,input().split())
array = list(input().split())
arr2 = list()
for i in range(q):
    sum = 0
    t, l, r = map(int,input().split()) #t = 1 or 2
    if t == 1:
        for j in range (l-1,r):
            sum += int(array[j])
        arr2.append(sum)
    elif t == 2:
        array[l-1] = array[r-1]
        for j in range (l-1,r-1):
            array[j+1] = array[j]

for i in range(len(arr2)):
  print(arr2[i])

# Dr.Yosefi,correct code:

In [ ]:
n, q = map(int, input().split())
a = list(map(int, input().split()))
for i in range(q):
    t, l, r = map(int, input().split())
    l -= 1
    r -= 1
    if t == 1:
        print(sum(a[l:r + 1]))
    else:
        t = a[r]
        for j in range(r - 1, l - 1, -1):
            a[j + 1] = a[j]
        a[l] = t

# print reverse of some num until enter 0:

In [ ]:
n = int(input())
a = list()
while n != 0 :
    a.append(n)
    n = int(input())

for i in range(len(a)-1,-1,-1):
    print (a[i])

# OR:

In [ ]:
nums = []
while True:
    num = input()
    if num != "0":
        nums.append(num)
    else:
        break
k = len(nums)-1
while k >= 0:
    print(nums[k])
    k-=1

# OR:

In [ ]:
a = []

while True:
    x = int(input())
    if (x == 0):
        break
    a.append(x)

for i in range (1, len(a) + 1):
    print(a[len(a) - i])

# Array shif,x times:

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(x):
    k = a[len(a)-1]
    for j in range(0, len(a)-1):
      a[(len(a)-1)-j] = a[(len(a)-1)-j-1]
    a[0] = k
    
print(a)

4 1
1 2 3 4
[2, 3, 1, 1]

# OR:

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))

for i in range(n - x, n):
    print(a[i], end=' ')

for i in range(0, n - x):
    print(a[i], end=' ')

4 1
1 2 3 4
4 1 2 3

# OR:

In [ ]:
n, x = map(int, input().split())
arr = list(map(int, input().split()))
r = [0] * n
for i in range(n):
    r[(i+x) % n] = arr[i]
print(*r)

OR:

In [ ]:
n, x = map(int, input().split())
arr = list(map(int, input().split()))

for i in range(x):
    arr = [arr[-1]] + arr[:-1]

print(*arr)

# OR:

In [ ]:
lenghtOfList, shiftNum = map(int, input().split())
list = []
list = input().split()
for i in range(shiftNum):
    list.insert(0, list.pop())
for i in list:
    print(i, end=" ")

# sum of 2 array:

In [ ]:
n, m = map(int, input().split())

a = []
for i in range(n):
	a.append(list(map(int, input().split())))
	
b = []
for i in range(n):
	b.append(list(map(int, input().split())))

c = [[a[i][j] + b[i][j] for j in range(m)] for i in range(n)]

for i in range(n):
    for j in range(m):
        print(c[i][j], end=' ')
    print()

2 3
1 2 3
4 5 6
7 7 7
8 8 8
8 9 10
12 13 14

# OR:

In [ ]:
n, m = map(int, input().split())

a = []
for i in range(n):
    row = list(map(int, input().split()))
    a.append(row)

b = []
for i in range(n):
    row = list(map(int, input().split()))
    b.append(row)

c = []
for i in range(n):
    row = []
    for j in range(m):
        row.append(a[i][j] + b[i][j])
    c.append(row)

for row in c:
    print(' '.join(map(str, row)))

# OR:

In [ ]:
a, b = map(int, input().split())
c = []
d = []
result = [[0] * b for i in range(a)]
for i in range(a):
    row = list(map(int, input().split()))
    c.append(row)
for i in range(a):
    row = list(map(int, input().split()))
    d.append(row)

for i in range(len(c)):
    for j in range(len(c[0])):
        result[i][j] = c[i][j] + d[i][j]

for i in result:
    for j in i:
        print(j, end = ' ')
    print()

# OR:

In [ ]:
n, m = map(int, input().split())
arr1 = [[int(j) for j in input().split()] for i in range(n)]
arr2 = [[int(j) for j in input().split()] for i in range(n)]
r = [[0] * m for i in range(n)]
for i in range(n):
    for j in range(m):
        r[i][j] = arr1[i][j] + arr2[i][j]
for i in range(n):
    for j in range(m):
        print(r[i][j], end=' ')
    print()

2 3
1 1 1
2 2 2
3 3 3
4 4 4
4 4 4
6 6 6

sum of 2 array from chatGTP:

In [ ]:
a = [2,3]
b = [3,4]
c = [sum(i) for i in zip(a,b)]
print(c)

In [ ]:
s = input()
print (s)

# Taghirat araye ey:

1 solution, ??

In [ ]:
q = int(input())
arr = list()
for i in range(q):
    a = input().split()
    if a[0] == '+':
        arr.insert(int(a[1]) - 1, int(a[2]))
    else:
        arr.pop(int(a[1]) - 1 )
    if arr == list():
        print('EMPTY')
    else:
        print(*arr)

3
+ 0 1
1
+ 1 5
5 1
- 0
5

# OR:

In [ ]:
q = int(input())
arr = []
r = []
for i in range(q):
    arr.append(input().split())
for a in arr:
    if a[0] == "+":
        r.insert(int(a[1])-1,int(a[2]))
        print(*r)
    else:
        r.pop(int(a[1])-1)
        if r == []:
            print("EMPTY")
        else:
            print(*r)

# OR:

In [ ]:
n = int(input())
a = []
for i in range(n):
    inp = input().split()
    ch = inp[0]
    index = int(inp[1])

    if ch == '+':
        value = int(inp[2])
        a.insert(index - 1, value)
    else:
        a.pop(index - 1)
    
    if len(a) == 0:
        print("EMPTY")
    else:
        for x in a:
            print(x, end=' ')
        print()

# OR:

In [ ]:
q = int(input())
a = list()
b = list()

for i in range (q):
    a.append(list(map(str, input().split())))

for i in range (q):
    if (a[i][0] == '+'):
        b.insert(int(a[i][1]) - 1, int(a[i][2]))
    elif (a[i][0] == '-'):
        b.pop(int(a[i][1]) - 1)

    if (len(b) == 0):
        print("EMPTY")
    else:
        print(*b)

In [ ]:
q = int(input())
a = []
for i in range (q):
    a.append(list(map(str, input().split())))
print(a)

2
d 1 2
+ 0 1
[['d', '1', '2'], ['+', '0', '1']]

OR ?:

In [ ]:
a = []
q = int(input())
for i in range(q):
    s, i = map(str,input().split())
    if s == '+' :
        x = int(input())
        a.insert(int(i),int(x))
    elif s == '-':
      a.pop(int(i))
    print(a)

# OR:

In [ ]:
#functions
#print function
def my_print(a):
    if( len(a ) == 0):
        print("EMPTY")
    for i in range(len(a)):
        if(i == len(a)-1):
            print(a[i ] )
        else:
            print(a[i], end=" ")


#------------------
n = int( input( ) )
a = list()
for i in range( n ):
    t = input( )
    temp = t.split( )
    if(temp[0] == "-"):
        a.pop( int(temp[1])-1 )
        my_print(a)
    elif(temp[0] == "+"):
        a.insert(int(temp[1])-1,int(temp[2]))
        my_print(a)
    else:
        print("wrong input !")

In [ ]:
q = int(input())

for i in range(q):
    a = input().split()
print(a)

# Snapp at Shekarestan:

In [ ]:
n, m = map(int,input().split())
array1 = []
s = 0
for i in range(n):
  array1.append(list(map(int,input().split())))
for i in range(m):
  #array2.append(list(map(int,input().split())))
  x, y = map(int,input().split())
  s += array1[x-1][y-1]
print(s)

# OR:

In [ ]:
n, m = map(int, input().split())
a = [[int(x) for x in input().split()] for i in range(n)]

ans = 0
for i in range(m):
    x, y = map(int, input().split())
    ans += a[x - 1][y - 1]

print(ans)

# OR:

In [ ]:
N, M = map(int,input().split())
array = [[int(j) for j in input().split()] for i in range(N)]
c = list()
for i in range(M):
    x, y = map(int, input().split())
    c.append(array[x-1][y-1])
Sum = 0
for i in range(M):
    Sum += c[i]
print(Sum)

# OR:

In [ ]:
N , M = map(int, input().split())
answer = 0
a = []
for i in range(N):
    a.append(list(map(int, input().split())))

for j in range(M):
    x,y = map(int, input().split())
    price = a[x-1][y-1]
    answer += price
print(answer)

# Endoist:

In [ ]:
maxn = 200
counter = [0 for x in range(maxn)]
q = int(input())

for i in range(q):
    tp, x = input().split()
    x = int(x) - 1

    if tp == '+':
        counter[x] += 1
    else:
        print(counter[x])

# OR

In [ ]:

q = int(input())
a = [0] * 200
b = list()
c = 0
for i in range(q):
   b = list(map(str,input().split()))
   b[1] = int(b[1])
   c = b[1]
   if (b[0] == '+'):
       a[c - 1] += 1
   elif (b[0] == '?'):
        print(a[c - 1])

# OR:

In [ ]:
q = int(input())

kise = [0 for x in range(210)]
for i in range(q):
    n = input().split()
    what_to_do, color = n[0], int(n[1])
    if what_to_do == "+":
        kise[color] += 1
    elif what_to_do == "?":
        print(kise[color])

# search in string:

...not complete

In [ ]:
s = input()
q = input()
index = 0
for i in range(len(s)):
  if q in s:
    index += s.index(q[0])
    print(index+1)
    k = s.index(q[len(q)-1]) + 1
    print(k)
    s = s[k::]
    print(s)

# final code:

In [ ]:
a = input()
b = input()
for i in range(len(a)):
    if b[0] == a[i] and b == a[i:i + len(b)]:
        print(i + 1, end=' ')

asdfdfghjkjkldf
df
3 5 14

OR:

In [ ]:
s = input()
q = input()
print(s)
print(q)
for i in range(len(s)):
    flage = True
    for j in range(len(q)):
        if i + j < len(s):
            if s[i+j] != q[j]:
                flage = False
        else:
            flage = False
    if flage == True:
        print(i+1)

# OR:

In [ ]:
str = input()
sub_str = input()
for i in range(len(str)):
    flag = True
    for j in range(len(sub_str)):
        if not(i+j < len(str)) or str[i + j] != sub_str[j]:
            flag = False
            break
    if flag:
        print(i + 1, end = " ")

OR:

In [ ]:
s = input()
p = input()
for i in range(len(s) - len(p) + 1):
    flag = True
    for j in range(len(p)):
        if p[j] != s[i + j]:
            flag = False
    if flag:
        print(i + 1, end=' ')
print()

asdfghjkdf
df
3 9

OR:

In [ ]:
main = input()
key = input()
collector = []

for i in range(len(main)):
    flag = True
    for j in range(len(key)):
        if i + j < len(main):
            if main[i + j] != key[j]:
                flag = False
        else:
            flag = False
    if flag:
        collector.append(i + 1)

print(*collector)

# Livan Bazi

In [ ]:
n , x = input().split() # x = L, M, R
ans = x
n = int(n)
for i in range(n):
    r1, r2 = input().split()
    if r1 ==  ans:
        ans = r2
    elif r2 == ans:
        ans = r1
    
print(ans)

# Gerdo shekastam:

# Ramin code,correct code,but not accepted by Qyera:

In [ ]:
n, x, y = map(int, input().split())
k = list()
while len(k) == 0:
  for i in range(n//x + 1):
      for j in range(n//x + 1):
         if i * x + j * y == n:
           k.append((i,j))
  break
if k == []:
  print('-1')
else:
  print(*k[0])

10 4 7
-1

## correct 1:

In [ ]:
n, x, y = input().split()
n, x, y = int(n), int(x), int(y)
for i in range(n // x + 1):
    if (n - i * x) % y == 0:
        print(i, (n - i * x) // y)
        break
else:
    print(-1)

OR:

In [ ]:
# https://quera.org/problemset/3540/

n,x,y = map(int,input().split())
# ax+by=n => a = (n-by)/x  => a must be an integer
b = 0
while b*y <= n:
  if (n-b*y) % x == 0:
    print((n-b*y)//x,b)
    break
  b += 1
else:
  print(-1)

OR:

In [ ]:
n,x,y= map(int,input().split())
flag = True
a = n // x
for i in range (a + 1):
    tmp = n - i*x
    if tmp % y ==0:
        c = tmp //y
        print(i,c)
        flag = False
        break
if flag:
    print(-1)

# Jos,Shangedoby and Mehrdad:

In [ ]:
s = input() # s = 'abcdefgh"
p = input() # p = 'defgha
for i in s:

In [ ]:
s1 = 'abcd'
l = []
print(list(s1))

['a', 'b', 'c', 'd']

# Bagher and Jabejaey argham:

In [ ]:
n = input() # n = 254
l = list(n) # l = [2,5,4]
l2 = []
for i in range(len(l)-1):
  l[len(l)-i], l[len(l)] = l[len(l)], l[len(l)-i]
  l2.append(l)
print(l2)

In [ ]:
#arr = list(map(int,input().split()))
#n = int(input())
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 12
L = 0
R = len(arr)

while L < R:
  mid = (R + L)//2 
  #print(mid)
  if arr[mid] == n:
    L = mid
    break
  elif arr[mid] < n:
    L = mid + 1
  elif arr[mid] > n:
    R = mid
if arr[L] == n:
  print('yes')
else:
  print('No')

IndexError: ignored

#Quera, Payda Kon Queiz,search binary :

In [ ]:
#Quera_Payda kon Prob
n, q = map(int,input().split())
array1 = list(map(int,input().split()))
print(array1)
for i in range(q):
   L = 0
   R = len(array1)
   s, a = map(str,input().split())
   a = int(a)
   print('a:',a)
   while L < R:
      m = (R + L) // 2
      print('mid_index:', m)
      if a == array1[m]:   #    [1, 2, 10, 13]
           L = 0
           R = len(array1)
           break
      elif a > array1[m]:
           L = m + 1
      elif a < array1[m]:
           R = m
   if array1[m] == a:
       print('a in Array :1')
   else:
       print('a in array:0')

# OR:

In [ ]:
n, q = map(int, input().split())
numbers = input().split()
requests= [input().split() for i in range(q)]
for search_one in requests:
    Min = 0
    Max = q
    while(Max - Min > 1):
        mid = int((Max + Min) / 2)
        if int(numbers[mid]) <= int(search_one[1]):
            Min = mid
        elif int(numbers[mid]) > int(search_one[1]):
            Max = mid
    if int(numbers[Min]) == int(search_one[1]):
        print(1)
    else:
        print(0)

# OR:

In [ ]:
def binary_search(alist, num):
    low, high = 0, len(alist)
    flag = 0
    while low <= high:
        mid = (low + high) // 2
        if num == alist[mid]:
            flag = 1
            break
        elif num > alist[mid]:
            low = mid + 1
        elif num < alist[mid]:
            high = mid - 1
    return flag 
        
list_len, num_of_nums = map(int, input().split())
alist = list(map(int, input().split()))
for i in range(num_of_nums):
    num = int(input().split()[1])
    print(binary_search(alist, num))

# OR:

In [ ]:
def search_check(numbers,a):
    L = 0
    R = len(numbers)
    
    while(R - L > 1):
        M = int((R + L)/2)
        if(a == numbers[M]):
            L = M
            R = M + 1
            break
        elif(a < numbers[M]):
            
            R = M
        elif(a > numbers[M]):
            
            
            L = M + 1
    if(numbers[L] == a):
        return True
    else:
        return False
        

n, q = map(int, input().split())
numbers = list(map(int, input().split()))
numbers.sort()
answers = list()
for i in range(q):
    x = list(input().split())
    
    if(search_check(numbers, int(x[1]))):
        answers.append(1)
    else:
        answers.append(0)

for j in range(q):
    print(answers[j])

# Majid va majikHayash:

In [ ]:
maxn = 100
counter = [0 for i in range(maxn)]
n = int(input())

xs = [int(x) for x in input().split()]
for x in xs:
    counter[x - 1] += 1
#print('xs: ', xs)
#print('counter: ',count)

mn = -1
for i in range(maxn):
    if counter[i] > 0 and (mn == -1 or counter[mn] > counter[i]):
    	mn = i
    #print('mn:',mn)

print(mn + 1)

In [ ]:
N = int(input())
lst_n = list(map(int, input().split()))
counter = [0] * max(lst_n)
min_c = 100
for i in range(N):
    color = lst_n[i]
    counter[color - 1] += 1
for i in range(len(counter)):
    if 0 < counter[i] < min_c:
        min_c = counter[i]
        ans = i + 1
print(ans)

# OR:

In [ ]:
N = int(input())
arr = list(map(int, input().split()))
arr.sort()
cols = list(set(arr))
cols.sort()
color = arr[0]
count = arr.count(color)
for x in cols:
	n = arr.count(x)
	if n < count:
		color = x
		count = n
print(color)

# or:

In [ ]:
maxn = 100
counter = [0 for i in range(maxn)]
n = int(input())

xs = [int(x) for x in input().split()]
for x in xs:
    counter[x - 1] += 1

mn = -1
for i in range(maxn):
    if counter[i] > 0 and (mn == -1 or counter[mn] > counter[i]):
    	mn = i

print(mn + 1)

OR:

In [ ]:
n = int(input())
m = 0
Min = 0

s = input().split()



for i in range(0, n):
    if (int(s[i])) > m :
        m = int(s[i])
a = [0]*m

for j in range(1, 101) :
    for i in range(0, n) :
        if int(s[i]) == j :
            a[j-1] += 1

Min = m-1
for i in range(m-1, -1, -1) :
    if a[i]<=a[Min] and a[i]>0 :
        Min = i 
    
#print(a)
#print(m)
print(Min+1)

# Aseman ShekarAbad, Nums of Stars in Sky's king

In [ ]:
n , m = map(int,input().split())
count = 0
for i in range(n):  
    arr = list(input())
    for j in range(m):
      if arr[j] == '*':
        count += 1

print(count)

# OR:

In [ ]:
n, m = map(int, input().split())
a = [input() for i in range(n)]

ans = 0
for i in range(n):
    for j in range(m):
       if a[i][j] == '*':
           ans += 1

print(ans)

# OR:

In [ ]:
m, n = map(int, input().split())
count = 0
for i in range(m):
    a = input()
    for j in a:
        if j == '*':
            count = count + 1
print(count)

# Esm_ha_Karim:

In [ ]:
n = int(input())
a = [input() for i in range(n)] #['asddf',]
ans = 0
for i in a:
  set1 = set(i)
  if len(set1) > ans:
    ans = len(set1) 
print(ans)

# OR:

In [ ]:
n = int(input())

answer = 0
for i in range(n):
    s = input()
    distinct_characters = len(s)
    
    for j in range(len(s)):
        duplicate = 0
        for k in range(j):
            if s[j] == s[k]:
                duplicate = 1
        distinct_characters -= duplicate
    
    if distinct_characters > answer:
        answer = distinct_characters

print(answer)

# ORRRR:

In [ ]:
n = int(input())
names = []
for i in range(n):
  names.append(len(set(input())))
print(max(names))

4
abbas
karim
mohammad
ali
5

# Bagher Khaste ast!:

    .

In [ ]:
n = int(input()) 
print('n: ', n)
digit_n = [0] * 10
tmp = n
while tmp:
    digit_n[tmp % 10] += 1
    tmp = tmp // 10
#print(digit_n)
for y in range(n+1, 1000000):
    digit_y = [0] * 10
    tmp = y
    while tmp:
        digit_y[tmp % 10] += 1
        tmp = tmp // 10
    for i in range(10):
        if digit_y != digit_n:
            break
    else:
        print(y)
        break
else:
    print(0)

# OR:

In [ ]:
from itertools import permutations

num = input()
num_list = sorted(list(num))
permu = permutations(num_list, len(num_list))

flag = False
for p in list(permu):
    p_num = "".join(p)
    if p_num > num:
        flag = True
        print(p_num)
        break
if not flag:
    print(0)

# OR

In [ ]:
def tot(x):
    p_1 = x[:i-j+1]
    p_2 = ''
    s = sorted(x[i-j+1:])
    for k in range (len(s)):
        p_2 += str(s[k])
    st = p_1 + p_2
    return (st)

def swap(s, i, j):
    return ''.join((s[:i], s[j], s[i+1:j], s[i], s[j+1:]))



a = input()
n = len(a) - 1
h = []
for i in range ( n , 0 , -1 ):
    flag = 1
    for j in range ( n+1  ):
        if a[i] > a[ i - j] :
            flag = 1
            c = swap(a , i-j , i )
            #print(int(c))
            h.append(int(tot(c)))
        else :
            flag = 0 
#print(h)
if h != []:
    ans = min(h)
    print (ans)
else:
    print('0')

# OR:

In [ ]:
from typing import Optional, List


def get_smaller_digit(sorted_digits: List[str], bigger_than: str) -> Optional[str]:
    for i in range(len(sorted_digits)):
        if sorted_digits[i] > bigger_than:
            return sorted_digits[i]
    return None


def solve(number: str) -> str:
    for i in range(len(number) - 2, -1, -1):
        remain_digits = sorted(number[i:])
        smaller_digit = get_smaller_digit(remain_digits, number[i])
        if smaller_digit is None:
            continue
        remain_digits.remove(smaller_digit)
        return number[0:i] + smaller_digit + ''.join(remain_digits)
    return '0'


def main():
    number = input()
    result = solve(number)
    print(result)


main()

# Majid-Milad Reshte sazi:
          

0  

1 .

           

1  .                        

1  
0
0   

0  

1              .        .

In [ ]:
L, R = map(int,input().split())
s = '1'
while len(s) <= R:
  for ch in s:
     if ch == '1':
        ch = '0'
        #print('s1: ', s)
     else:
       ch = '1'
       #print('s2: ', s)
     s = s + ch
print(s)
print(s[L-1:R])

4 7
10010110
1011

# OR:

In [ ]:
def inverse(string: str) -> str:
    result = ""
    for c in string:
        if c == "1":
            result += "0"
        else:
            result += "1"
    return result


def generate_sequence(max_length: int) -> str:
    result = "1"
    while len(result) < max_length:
        result += inverse(result)
    return result


begin, end = map(int, input().split())
sequence = generate_sequence(end)

print(sequence[begin - 1: end])

4 7
1011

# OR:

In [ ]:
def negate(str_num):
    rev = []
    for n in str_num:
        if n == "1":
           rev.append("0") 
        else:
            rev.append("1")
    return "".join(rev)

start, max_num_of_digits = map(int, input().split())
num_of_digits = 0
pow = 0
prev_digits = "1"
while num_of_digits < max_num_of_digits:
    new_digits = prev_digits + negate(prev_digits)
    num_of_digits += 2 ** pow
    pow += 1
    prev_digits = new_digits

print(new_digits[start - 1 : max_num_of_digits])

# OR:

In [ ]:
l,r = map(int,input().split())
i = 0
while ((2**i) < r):
    i += 1
a = '1'
b = ''
c = 1
for j in range(i+1):
    for k in range(c):
        if a[k] == '1':
            b = '0'
        elif a[k] == '0':
            b = '1'
        a = a + b
        b = ''
        c = len(a)
print(a[l-1:r])

# Oghat faraghat:jadval asami:

In [ ]:
n, m = map(int,input().split())
arr = []   
count = 0                  # [['l', 'k', 'j', 'k'], ['e', 'r', 't', 'y'], ['c', 'd', 'e', 'r']]
for i in range(n):
    name = input()
    arr.append(name)
s = input()
for i in arr:
  if i == s:
    count += 1
for i in range(m):
  for j in range(n):
    if arr[j][i] != s[j]:
      break
    count += 1
print(count)

2 8
babababa
abababab
baba

In [ ]:
arr = []
for i in range(2):
    name = (input())
    arr.append(name)
print('arr:', arr)
s = 'quera'
for i in arr:
  if i == s:
    print('yes')
  else:
    print('No')

quera
dfgh
arr: ['quera', 'dfgh']
yes
No

# Quera,chapter 10: 
Selected sorting:

In [ ]:
a = [5, 8, 1, 2, 3, 6]
n = len(a)
for i in range(n):
    min_index = i
    for j in range(i+1, n):
        if a[min_index] > a[j]:
           min_index = j
        #print('a[min_index]:', a[min_index])
    #print(a)
    a[i], a[min_index] = a[min_index], a[i]
    
print(a)

# Bubble Sorting:

In [ ]:
a = [5, 8, 1, 2, 3, 6, 9, 0, 1]
n = len(a)
for j in range(n):
    for i in range(n-1):
        if a[i] > a[i+1]:
            a[i], a[i+1] = a[i+1], a[i]
print(a)

# INSERTION-SORTING:

In [ ]:
a = [5, 8, 2, 3, 6, 9, 0, 1]
n = len(a)
for i in range(n):
    p = i
    while p > 0 and a[p] < a[p-1]:
        a[p], a[p-1] = a[p-1], a[p]
        p = p-1
print(a)

# Quera; moratabsazi sadeh,tamrin:

In [ ]:
n = int(input())
arr = list(map(int,input().split())) # [2, 1, 4, 9, 4]
for j in range(n):
  for i in range(1,n):
    if arr[i] > arr[i-1]:
      arr[i], arr[i-1] = arr[i-1], arr[i]
print(*arr)

3
5 1 9
[9, 5, 1]

OR:

In [ ]:
n = int(input())
arr = list(map(int, input().split()))

for i in range(0, len(arr)):
    p = i
    while p > 0 and arr[p] > arr[p-1]:
        arr[p], arr[p-1] = arr[p-1], arr[p]
        p = p-1

for i in arr:
    print(i, end=' ')

2 5 9

OR:

In [ ]:
def selection_sort(alist):
    for i in range(len(alist)):
        max_index = i
        for j in range(i, len(alist)):
            if alist[max_index] < alist[j]:
                max_index = j
        alist[i], alist[max_index] = alist[max_index], alist[i]
    return alist
n = int(input())
alist = list(map(int, input().split()))
print(*selection_sort(alist))

# Samanbde:

this code was written by me.it has some problem and ....

In [ ]:
#n, k = map(int,input().split()) 
arr = []
name = ['ava', 'nastaran', 'baran', 'neda', 'bahar', 'behnaz']
n = len(name)
ch = ''
k = 3
for j in range(n):
  for z in range(k):
      if name[j][z] != ch:
        c = 0
        ch = name[j][z]  # ch = a
        for i in name:
          if i[z] != ch:
            break
            c += 1
  if c not in arr:
    arr.append(c)
print(arr)

3

# But this code was suggested by Quera, using func:

In [ ]:
n, k = map(int, input().split(" "))
s = []

for i in range(n):
    s.append(input())

s.sort()


def lcp(id1, id2):
    x = 0
    l1 = len(s[id1])
    l2 = len(s[id2])

    while x < l1 and x < l2 and s[id1][x] == s[id2][x]:
        x = x + 1

    print(id1,id2)
    return x

ans = 1

for i in range(n):
    j = i + 1
    while j < n and lcp(j, j - 1) >= k:
        j = j + 1
    ans = max(ans, j - i)

print(ans)

# OR, nice code!!!:

In [ ]:
n, k = map(int, input().split())     
s = []
p = []
ans = 0
                    # ['ava', 'nastaran', 'baran', 'neda', 'bahar', 'behnaz']

for i in range(n) :
    a = input()
    s.append(a[0:k])
for i in range(0, n) :
    x = 1
    for j in range(i+1, n) :
        if s[i]==s[j] :
            x +=1
    p.append(x)
 
print(s)
print(p)
for i in range(1, n): # we can use func:max(p)
    if p[i-1]>p[i] :
        ans = p[i-1]
        p[i], p[i-1] = p[i-1], p[i]
print(max(p)) 
print(ans)

# OR:

In [ ]:
n, k = map(int, input().split())

words_dict = {}
for i in range(n):
    word = input().strip()
    prefix = word[:k]
    if prefix in words_dict:
        words_dict[prefix].append(word)
    else:
        words_dict[prefix] = [word]
                                   # ['ava', 'nastaran', 'baran', 'neda', 'bahar', 'behnaz']
max_set = []
for prefix in words_dict:
    if len(words_dict[prefix]) > len(max_set):
        max_set = words_dict[prefix]

print(len(max_set))

# OR:

In [ ]:
n, k = map(int, input().split())
strings = list()           # ['ava', 'nastaran', 'baran', 'neda', 'bahar', 'behnaz']
for i in range(n):
    strings.append(input())

m = len(strings)
for i in range(m):
    for j in range(m - 1):
        if strings[j] > strings[j + 1]:
            strings[j], strings[j + 1] = strings[j + 1], strings[j]

print(strings)
answer = 0
for i in range(m):
    for j in range(m):
        if strings[i][0:k] == strings[j][0:k]:
            if j - i + 1 > answer:
                answer = j - i + 1
                print(answer)

3 2
baran
bahar
neda
['bahar', 'baran', 'neda']
1
2

In [ ]:
s1 = ['baran', 'abdola']
print(s1[0] < s1[1]) # False

False

# Quera;
Review exercise 1:
Magic Circle
Hasani!!

In [ ]:
n ,k = map(int,input().split())
arr = []
for i in range(1,n+1):
  arr.append(i)
print(arr)
i = 1
c = 1
while i % n != 0 : 
  i = i + k -1
  c = c + 1
print (c+1)