<a href="https://colab.research.google.com/github/RemiJolian/Python/blob/main/Quera_Python_Advance_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quera_Python_Advance_Course

First,Review:

In [ ]:
n = float(input())
print(int(n))
print(type(n))

In [ ]:
t = int(input())

if t >100:
    print('Steam')
elif t < 0:
    print('Ice')
else:
    print('Water')

In [ ]:
s = [['s', 'd', 'f', 'g'], ['e', 'd']]
for word in s:
    for ch in word:
        print(ch,end=' ')

s d f g e d

In [ ]:
words = ['salam', 'khoobi?', 'na']

for i in range(len(words)):
    print(words[i])

for i in range(0, len(words), 2):
    print(" *** " + words[i])

salam
khoobi?
na
 *** salam
 *** na

Jadval Zarb:

In [ ]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end=' ')
    print()

kochektarin mazrab:

In [ ]:
p, d = map(int,input().split()) 

i = 1 
while (i*d) % p > (p/2):
    i = i + 1
print(i*d)

8 7
28

combination, or tarjib in math, tabe' entekhabi:

In [ ]:
def comb(n, k):
    import math
    if n >= k:
        t = math.factorial(n-k)
        n = math.factorial(n)
        k = math.factorial(k)
        return int(n/(t * k))
    else:
        return 0
comb(10,2)

0

OR:

In [ ]:
def comb(n, k):
    ans = 1
    for i in range(n-k+1, n+1):
        ans *= i
    for i in range(1, k+1):
        ans /= i
    return ans

In [ ]:
from math import factorial as f
def comb(n, k):
    if k>n:
        return 0
    else:
        return (f(n)/(f(k)*f(n-k)))
    pass

and OR:

In [ ]:
def comb(n, k):
    if k == 0 :
        return 1
    elif k == 1 :
        return n
    elif k == n :
        return 1
    elif k > n :
        return 0
    else :
        return fac(n) / (fac(k) * fac(n - k))

def fac(n) :
    if n == 0 or n == 1 :
        return 1
    temp = 1
    for i in range(2, n + 1) :
        temp *= i
    return temp

In [ ]:
import math


def comb(n, k):
    if n - k < 0:
        return 0
    return math.factorial(n) // (math.factorial(k) * math.factorial(n - k))

Use math Library:

In [ ]:
import math
print(math.gcd(4,24)) #greatest common factor number that divides them
print(math.fabs(-3))
print(math.factorial(4))
print(math.pow(2,8))  # 2 ^^ 3
print(math.log(8))
print(math.log(8,2)) # = 3, 2 ^^ 3 = 8
print(math.sqrt(25))  #jazr
print(math.sin(3))   # sinos
print(math.radians(8)) # degree to radian
print(math.floor(3.2))
print('--------')
print(math.pi)  # 3.14159...

4
3.0
24
256.0
0.999896315728952
3.0
5.0
0.1411200080598672
0.13962634015954636
--------
3.141592653589793

Mohasebat sakht:

In [ ]:
import math
def f(x):
   
    m = math.pow(x,5/3) + math.tan(math.radians(x))
    m = math.floor(m)
    n = math.pow(math.pi,(2 + math.atan((math.sin(math.radians(x)) ** 2))))
    n = math.floor(n)
    return math.gcd(m,n)
f(5)

1

# Date and time Library:

In [ ]:
from datetime import time       # time and date are read only.
t = time(17,21,22)
print(t)

from datetime import date
d = date(2023,5,27)
print(d)

17:21:22
2023-05-27

In [ ]:
from datetime import datetime
dt = datetime(2022,5,14,14,29,30)
print(dt)

2022-05-14 14:29:30

In [ ]:
datetime.now()

datetime.datetime(2023, 5, 11, 6, 43, 20, 525712)

How to convert string to date:

In [ ]:
from datetime import datetime
date = datetime.strptime('2005-01-06', '%Y-%m-%d')
print("day:", date.day)
print("month:", date.month)
print("year:", date.year)

# Chan rozeshe?Sajad:

this solution is wrong, notice:   # why? becuase we do not use datetime library in line ...:

In [ ]:
def day_calculator(date_inter):

 from datetime import datetime
 date_inter = datetime.strptime('2005-01-06', '%Y-%m-%d')
 sajad_b = date.time.striptime('1999-01-14', 'Y-%m-%d')
 y = (date_inter.year - sajad_b.year) * 365
 m = (date_inter.mounth - sajad_b.mounth) * 30
 d = (date_inter.day - sajad_b)
 if y < 0 or (y == 0 and m < 0):
    return 'Not yet born'
 else:
    ans = y + m + d
    return ans

This is ok:

In [ ]:
def calculate_date(date_inter):
  from datetime import datetime
  date_inter = datetime.strptime('2018-10-12', '%Y-%m-%d')
  sajad_b = datetime.strptime('1999-01-14', '%Y-%m-%d')
  div = (date_inter - sajad_b).days
  if div < 0:
    return "Not born yet"
  else:
    return div

calculate_date('1999-08-07')

In [ ]:
from datetime import datetime
  date_inter = datetime.strptime('2018-10-12', '%Y-%m-%d')

notice this point:

In [ ]:
from datetime import datetime
date = datetime.strptime('2005-01-06', '%Y-%m-%d')
print("day:", date.day)
print("month:", date.month)
print("year:", date.year)
print(date)

# Strings:

In [ ]:
s = "Hello "
t = '!'
name = input()
print(s + name + t)

In [ ]:
>>> s = 'spartacus'
>>> s.removeprefix('s')
'partacus'
>>> s.removeprefix('spar')
'tacus'
>>> s.removeprefix('part')
'spartacus'
>>> s.removesuffix('s')
'spartacu'
>>> s.removesuffix('acus')
'spart'
>>> s.removesuffix('tacu')
'spartacus'

'spartacus'

# Names, Karim:

In [ ]:
n = int(input())
names = []
max = 0          
for i in range(n):
    name = input()
    names.append(name)
for i in names:
  c = 0
  s = []
  for j in range(len(i)):
     if i[j] not in s:
        s.append(i[j])
        c += 1
  s = []
  if max <= c:
    max = c

print(max)

In [ ]:
n = int(input())
ans = 0
for i in range(n):
	name = input()
	dif = ""
	for j in name:
		if j not in dif:
			dif = dif + j
	ans = max(ans, len(dif))
print(ans)

and OR

In [ ]:
n=int(input())
l=[]
for i in range(n):
    l.append(len(set(input())))

print(int(max(l)))